<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2024</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				S $\^$\$3$\$ $ M-Net: Joint Learning of Semantic Segmentation and Stereo Matching for Autonomous Driving.
			</span><br />
			<span class="authors">
				Zhiyuan Wu, Yi Feng, Chuang-Wei Liu, Fisher Yu, Qijun Chen, and Rui Fan.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Transactions on Intelligent Vehicles 9(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
